.header
    .container.container--header
        .header__inner
            .header__col
                a(href="#").header__logo <span class="header__logo--color">о</span>zozon      
                .header__wrapper.nav
                    a.nav__item(href="#") Про уборки
                    a.nav__item(href="#") Оформить заказ
                    a.nav__item(href="#") О нас
                    a.nav__item(href="#") Отзывы
                    a.nav__item(href="#") F.A.Q.
                    a.nav__item(href="#") Акции
            .header__col
                a(href="tel:+74958453444").header__phone +7  (495) 845-34-44
                a(href="").header__button Войти
            .header__burger.burg.js-burg
                .burg__line
                .burg__line
                .burg__line
        a(href="#").header__feedback-button
            img(src="assets/images/phone.png", alt="")
                    
            