.button{
    background: linear-gradient(90deg, #82eaad 0%, #6fe0f2 77%);
    border: none;
    font-size: 14px;
    padding: 11px 10px;
    width: 189px;
    text-align: center;
    max-width: 100%;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0, 0.2);
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}