.service
    .container
        h2.service__title.title Про уборки
        span.service__description Клинер приедет со всем необходимым для уборки. Стоимость уборки рассчитывается от количества комнат.
        .service__inner
            .service__tab.tab
                span.tab__text В каждый тариф входит уборка:
                span.tab__item.active(data-text="1") В комнате
                span.tab__item(data-text="2") На кухне
                span.tab__item(data-text="3") В ванной и туалете
                span.tab__item(data-text="4") В коридоре
            .service__pic
                .service__pic-item(data-text="1" style="background-image: url(assets/images/1.png)")
            .service__point
                .service__point-item 
                    span Поддерживающая уборка
                .service__point-item.service__point-item--color 
                    span Генеральная уборка