.reviews#reviews
    h2.reviews__title.title Отзывы
    .reviews__section(style="background-image: url(assets/images/reviews.png)")
        .container
            .reviews__inner
                .reviews__slider.swiper-container
                    .reviews__wrapper.swiper-wrapper
                        .reviews__slide.swiper-slide
                            img(src="assets/images/reviews-slider.png", alt="")
                        .reviews__slide.swiper-slide
                            img(src="assets/images/reviews-slider.png", alt="")
                        .reviews__slide.swiper-slide
                            img(src="assets/images/reviews-slider.png", alt="")
                        .reviews__slide.swiper-slide
                            img(src="assets/images/reviews-slider.png", alt="")
                        .reviews__slide.swiper-slide
                            img(src="assets/images/reviews-slider.png", alt="")
                .slider-button.slider-button--prev
                .slider-button.slider-button--next
            a(href="#").reviews__button Все отзывы