.cleaning-types{
    padding: 65px 0 67px 0;

    @include media-breakpoint-down(mobile) {
        padding: 38px 0 38px 0;
    }

    &__inner{
        display: flex;
        justify-content: space-between;
        margin-top: 37px;

        @include media-breakpoint-down(tablet) {
            display: block;
        }
    }
    .container{
        padding: 0 10px;
        @include media-breakpoint-down(mobile) {
            padding: 0;
        }
    }
}

.item{
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
    width: calc(50% - 35px);
    border-radius: 10px;
    padding: 37px 0 35px;

    @include media-breakpoint-down(tablet) {
        width: 700px;
        margin: 0 auto 45px;
        max-width: 100%;
    }

    &__wrap{
        
        &-list{
            min-height: 426px;
            border-bottom: 2px solid #f6f6f5;
            padding-bottom: 50px;

            @include media-breakpoint-down(tablet) {
                min-height: auto;
                padding-bottom: 30px;
            }
        }
    }

    &__title{
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        @include media-breakpoint-down(mobile) {
            font-size: 18px;
        }

        span{
            display: inline-block;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: #82eaae;
                border-radius: 50%;
                top: 50%;
                left: -20px;
                transform: translateY(-50%);
            }
        }
        &--color-point{
            span{
                &::after{
                    background-color: #f6ff00;
                }
            }
        }
    }

    &__list{
        padding-left: 50px;
        margin: 27px 0 36px;

        @include media-breakpoint-down(mobile) {
            padding-left: 20px;
        }
        &-text{
            font-size: 16px;
            font-weight: 300;
            position: relative;
            padding-left: 32px;
            margin-bottom: 6px;

            @include media-breakpoint-down(mobile) {
                font-size: 14px;           
                padding-left: 16px;
            }

            &:last-child{
                margin-bottom: 0;
            }

            &::after{
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url('../assets/images/done.png');
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 11px;
                height: 9px;
                opacity: 0.5;
            }
        }

        &-bonus{
            font-weight: 300;
            padding-left: 50px;

            @include media-breakpoint-down(mobile) {
                padding-left: 20px;
            }

            &-title{
                font-weight: 500;
                color: #212121;
                padding-left: 32px;
                margin-bottom: 6px;
                display: block;

                @include media-breakpoint-down(mobile) {
                    padding-left: 10px;
                    font-size: 14px;
                }
            }

            &-text{
                padding-left: 32px;
                position: relative;
                margin-bottom: 3px;

                @include media-breakpoint-down(mobile) {
                    padding-left: 10px;
                    font-size: 14px;
                }

                &:last-child{
                    margin-bottom: 0;
                }

                &::before{
                    content: '+';
                    position: absolute;
                    left: -8px;
                    color: #6fe0f2;
                }
            }
        }
    }
    &__button{
        margin: 0 auto;

        @include media-breakpoint-down(mobile) {
            width: auto;
            margin: 10px 20px 0;
        }
    }
    @include media-breakpoint-down(mobile) {
        &:nth-child(1){
            .item__wrap-list{
                padding-bottom: 0;
            }
        }
    }
}

.price{
    display: flex;
    padding: 42px 0 17px;
    @include media-breakpoint-down(tablet) {
        justify-content: center;
    }

    @include media-breakpoint-down(mobile) {
        display: block;
        text-align: center;
        padding: 22px 0 10px;
    }

    &__wrap{
        margin-right: 18px;
        padding-left: 82px;
        @include media-breakpoint-down(tablet) {
            padding-left: 0;
        }
        @include media-breakpoint-down(mobile) {
            margin-right: 0;
            margin-bottom: 5px;
        }
    }

    &__title{
        font-size: 16px;
        font-weight: 400;
        display: block;
        @include media-breakpoint-down(mobile) {
            font-size: 14px;
        }
    }

    &__text{
        font-size: 14px;
        color: #999999;
        font-weight: 300;
        display: block;

        @include media-breakpoint-down(mobile) {
            font-size: 12px;
        }
    }

    &__result{
        font-size: 38px;
        font-weight: 400;
        line-height: 33px;

        @include media-breakpoint-down(mobile) {
            font-size: 28px;
            line-height: normal;
        }
    }
}

.counter{
    padding: 57px 61px;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
    margin-top: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(tablet) {
        display: block;
        width: 977px;
        margin: 0 auto;
        max-width: 100%;
    }

    @include media-breakpoint-down(mobile) {
        padding: 20px;
    }

    &__item{
        margin-right: 114px;

        @include media-breakpoint-down(tablet) {
            margin-right: 0;
            text-align: center;
            margin-bottom: 20px;
        }
        &:last-child{
            margin-right: 0;
            padding-top: 4px;
        }
        &-wrap{
            display: inline-block;
            text-align: center;
            @include media-breakpoint-down(mobile) {
                margin-right: 0 !important;
                margin-bottom: 15px;
                width: 100%;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            &:nth-child(1){
                margin-right: 94px;
                @include media-breakpoint-down(tablet) {
                    margin-right: 62px;
                }
            }
            &:nth-child(2){
                margin-right: 64px;
                @include media-breakpoint-down(tablet) {
                    margin-right: 44px;
                }
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }

    &__title{
        font-size: 24px;
        display: block;
        margin-bottom: 6px;
    }

    &__date{
        font-size: 18px;
        display: block;
        font-weight: 300;
        color: #999999;
    }

    &__num{
        display: block;
        font-size: 48px;
        color: #6fe0f1;

        @include media-breakpoint-down(mobile) {
            font-size: 38px;
        }
    }

    &__text{
        display: block;
        font-weight: 300;
        font-size: 17px;

        @include media-breakpoint-down(mobile) {
            font-size: 14px;
        }
    }
}