.cleaning-types
    .container
        h2.cleaning-types__title.title Типы уборки
        .cleaning-types__inner
            .cleaning-types__item.item
                .item__wrap-list
                    .item__title 
                        span Поддерживающая
                    ul.item__list
                        li.item__list-text Протираем мебель сверху донизу
                        li.item__list-text Чистим зеркала и стеклянные поверхности
                        li.item__list-text Пылесосим ковры
                        li.item__list-text Моем пол
                        li.item__list-text Убираем мусор
                        li.item__list-text Вычищаем пыль из углов
                        li.item__list-text Протираем плинтусы
                .item__wrap-price.price
                    .price__wrap
                        span.price__title Стоимость уборки:
                        span.price__text во всех комнатах
                    span.price__result 1590 руб.
                .item__button.button Оформить заявку
            .cleaning-types__item.item
                .item__wrap-list
                    .item__title.item__title--color-point
                        span Генеральная
                    ul.item__list
                        li.item__list-text Протираем мебель сверху донизу
                        li.item__list-text Чистим зеркала и стеклянные поверхности
                        li.item__list-text Пылесосим ковры
                        li.item__list-text Моем пол
                        li.item__list-text Убираем мусор
                        li.item__list-text Вычищаем пыль из углов
                        li.item__list-text Протираем плинтусы
                    ul.item__list-bonus
                        span.item__list-bonus-title Генеральная:
                        li.item__list-bonus-text Мойка радиатора отопления
                        li.item__list-bonus-text Очистка выключателей и дверных ручек
                        li.item__list-bonus-text Обеспыливание настенных светильников
                .item__wrap-price.price
                    .price__wrap
                        span.price__title Стоимость уборки:
                        span.price__text во всех комнатах
                    span.price__result 1990 руб.
                .item__button.button Оформить заявку
        .cleaning-types__counter.counter
            .counter__item
                span.counter__title Счетчик OZOZON
                span.counter__date 23 июля 2017
            .counter__item
                .counter__item-wrap
                    span.counter__num 16882
                    span.counter__text Квартир убрано
                .counter__item-wrap
                    span.counter__num 17
                    span.counter__text Сегодня в работе
                .counter__item-wrap
                    span.counter__num 2
                    span.counter__text Свободные клинеры
