.advantages{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 86px 0 99px 0;

    &__inner{
        display: flex;
        margin-top: 75px;
        position: relative;
    }

    &__item{
        width: calc(25% - 41px);
        &:nth-child(1){
            margin-right: 35px;
        }
        &:nth-child(2){
            margin-right: 58px;
        }
        &:nth-child(3){
            margin-right: 58px;
        }
        &-text{
            font-size: 16px;
            font-weight: 400;
            margin-top: 28px;
            display: block;
            text-align: center;
        }

        &-pic{
            min-height: 127px;
            display: flex;
            align-items: center;

            img{
                margin: 0 auto;
            }
        }
    }
}