.advantages(style="background-image: url(assets/images/paper.png)")
    .container
        h2.advantages__title.title Вы обязательно останетесь довольны, ведь мы...
        .advantages__inner
            .advantages__item
                .advantages__item-pic
                    img(src="assets/images/flower.png", alt="")
                span.advantages__item-text Используем только уникальные экологичные средства
            .advantages__item
                .advantages__item-pic
                    img(src="assets/images/list.png", alt="")
                span.advantages__item-text Отбираем только самых лучших клинеров
            .advantages__item
                .advantages__item-pic
                    img(src="assets/images/bubble.png", alt="")
                span.advantages__item-text Используем особо эффективную технологию уборки
            .advantages__item
                .advantages__item-pic
                    img(src="assets/images/heart.png", alt="")
                span.advantages__item-text Очень любим наших клиентов и предоставляем скидки