.faq#faq
    .container
        h2.faq__title.title Часто задаваемые вопросы
        .faq__inner
            .faq__wrap
                .faq__item(data-text="11").js-faq-tab
                    span.faq__item-text По оплате
                    .faq__item-pic
                        img(src="assets/images/2.png", alt="")
                .faq__item(data-text="12").js-faq-tab
                    span.faq__item-text По уборке
                    .faq__item-pic
                        img(src="assets/images/3.png", alt="")
                .faq__item(data-text="13").js-faq-tab
                    span.faq__item-text По персоналу
                    .faq__item-pic
                        img(src="assets/images/4.png", alt="")
            .faq__content(data-text="11").js-faq-content
                ol.faq__content-list
                    .faq__content-col
                        li.faq__content-item   
                            a(href="").faq__content-link.js-content-tab Что входит в Ваши уборки?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Обязательно ли мое присутствие?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Чем вы убираетесь?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Что нужно предоставить клинеру для уборки?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Клинеру нужны чистые тряпочки?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Могу ли я дать клинеру чаевые? Должен ли я предупреждать вас об этом?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    .faq__content-col
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab У меня большая квартира. Как её считать?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Делаете ли вы уборку в выходные?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Выезжаете ли вы в область за МКАД?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Что такое подписка и в чем ее преимущество?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Чем вы не занимаетесь?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .faq__content(data-text="12").js-faq-content
                ol.faq__content-list
                    .faq__content-col
                        li.faq__content-item   
                            a(href="").faq__content-link.js-content-tab Что входит в Ваши уборки?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Обязательно ли мое присутствие?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Чем вы убираетесь?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Что нужно предоставить клинеру для уборки?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Клинеру нужны чистые тряпочки?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Могу ли я дать клинеру чаевые? Должен ли я предупреждать вас об этом?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    .faq__content-col
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab У меня большая квартира. Как её считать?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Делаете ли вы уборку в выходные?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Выезжаете ли вы в область за МКАД?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Что такое подписка и в чем ее преимущество?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .faq__content(data-text="13").js-faq-content
                ol.faq__content-list
                    .faq__content-col
                        li.faq__content-item   
                            a(href="").faq__content-link.js-content-tab Что входит в Ваши уборки?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Обязательно ли мое присутствие?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Чем вы убираетесь?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Что нужно предоставить клинеру для уборки?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Клинеру нужны чистые тряпочки?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Могу ли я дать клинеру чаевые? Должен ли я предупреждать вас об этом?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    .faq__content-col
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab У меня большая квартира. Как её считать?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        li.faq__content-item
                            a(href="").faq__content-link.js-content-tab Делаете ли вы уборку в выходные?
                            .faq__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit.