.faq
    .container
        h2.faq__title.title Часто задаваемые вопросы
        .faq__inner
            .faq__wrap
                .faq__item(data-text="11")
                    span.faq__item-text По оплате
                    .faq__item-pic
                        img(src="assets/images/2.png", alt="")
                .faq__item(data-text="12")
                    span.faq__item-text По уборке
                    .faq__item-pic
                        img(src="assets/images/3.png", alt="")
                .faq__item(data-text="13")
                    span.faq__item-text По персоналу
                    .faq__item-pic
                        img(src="assets/images/4.png", alt="")
            ol.faq__content
                li.faq__content-item   
                    a(href="").faq__content-link Что входит в Ваши уборки?
                li.faq__content-item
                    a(href="").faq__content-link Обязательно ли мое присутствие?
                li.faq__content-item
                    a(href="").faq__content-link Чем вы убираетесь?
                li.faq__content-item
                    a(href="").faq__content-link Что нужно предоставить клинеру для уборки?
                li.faq__content-item
                    a(href="").faq__content-link Клинеру нужны чистые тряпочки?
                li.faq__content-item
                    a(href="").faq__content-link Могу ли я дать клинеру чаевые? Должен ли я предупреждать вас об этом?
                li.faq__content-item
                    a(href="").faq__content-link У меня большая квартира. Как её считать?
                li.faq__content-item
                    a(href="").faq__content-link Делаете ли вы уборку в выходные?
                li.faq__content-item
                    a(href="").faq__content-link Выезжаете ли вы в область за МКАД?
                li.faq__content-item
                    a(href="").faq__content-link Что такое подписка и в чем ее преимущество?
                li.faq__content-item
                    a(href="").faq__content-link Чем вы не занимаетесь?